@model WebApplication.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
    <div class="panel-heading text-center"></div>
        <h4>RSVP</h4>
        <div class="panel-body">
            <form class="p-a-l" asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Yuor name:</label>
                    <input type="text" asp-for="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Yuor email:</label>
                    <input type="text" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Yuor phone:</label>
                    <input type="text" asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Will you attend</label>
                    <select asp-for="WillAttend" class="form-control">
                        <option value="">Choose an option</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit RSVP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>